{% extends 'base.html' %}
{% set active_page = "add_switch" %}

{% block header %}
    <h1>{% block title %}Add Switch{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="{{ url_for('add_switch') }}" method="POST" >
        {{ form.csrf_token }}
        {{ form.switch_new_name.label }}
        {{ form.switch_new_name(size=20) }}
        <input type="submit" value="submit"> <br>

        {% for i in choices %}
            <input type="radio" name="room" value="{{ i }}"> {{ i }} <br>
        {% endfor %}

    </form>
{% endblock %}

